## Working with Strings

In [6]:
# Convert a string to list
a = "I love Python"
print(a.split(" "))

['I', 'love', 'Python']

In [7]:
# Convert list to string
a = ['My', 'name',' is', 'anthony',  'gonsalves']
" ".join(a)

'My name  is anthony gonsalves'

In [8]:
## Reverse a string
a = "Hey Python"
a[: : -1]

'nohtyP yeH'

In [18]:
a = "upGrad"
print(a.lower())
print(a.upper())

upgrad
UPGRAD

In [21]:
print(a.islower())
print(a.isupper())
print(len(a))

False
False
6

In [10]:
## Loop with strings
a = "I love Python"
for i in a:
    print(i)

I

l
o
v
e

P
y
t
h
o
n

In [11]:
## Check if some word is in the string or not
a  = 'I love Python'
if "Python" in a.split(" "):
    print('Yes')
else:
    print("No")

Yes

In [16]:
## What is the index number for the letter 'o'
a = "I love Python"
for i in enumerate(a):
    if i[1]=='o':
        print(i[0])
        break

3

In [29]:
a = "I love Python"
a.find("o")

3

In [26]:
input_str = "abc, xyz"
# Expected Output "xyc abz"
a1 = input_str[5:7]
a2 = input_str[0:2]
a3 = a1+"c"+" "+a2+"z"
print(a3)

xyc abz

## Working with Lists

In [3]:
num_range =  [0,1,2,3,4,5,6,7,8,9]

In [4]:
#ODD Numbers
print(num_range[1:10:2])
#EVEN Numbers
print(num_range[0:9:2])
#Div by 3
print(num_range[3:10:3])

[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]
[3, 6, 9]

In [5]:
# How to print a list in reverse order?
num_range[: : -1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Write an if-else statement to print "Is Palindrome" in case a word is a palindrome, else print "Not a palindrome". A palindrome is a word that is the spelled the same backwards, for example - Malayalam , Radar.

In [35]:
#Solution:
input_word = input('Enter a word : ')
if input_word[::-1].lower().strip() == input_word.lower().strip():
    print("Is a palindrome")
else:
    print("Not a palindrome")

Enter a word : nayan
Is a palindrome

Print all numbers between 300 and 500 that are divisible by 5 as well as 3. Hint: **and** is a good choice

In [36]:
for num in range(300,500):
    if num%5==0 and num%3==0:
        print(num)

300
315
330
345
360
375
390
405
420
435
450
465
480
495

Convert the first letter of each item of the above list to upper case. Use the conventional for loop first. Then use a list comprehension. Name the list as "proper_version" list_of_words = [' Diagram','Objective ',' aSSIGNMENT','QueSTions. ','sOlutiONS ' ]

In [38]:
#solution
list_of_words = [' Diagram','Objective ',' aSSIGNMENT','QueSTions. ','sOlutiONS ' ]
proper_version=[]
for word in list_of_words:
    proper_word=word.title().strip().strip('.')
    proper_version.append(proper_word)
    
print(proper_version)

#List Comprehension
proper_version=[word.title().strip().strip('.') for word in list_of_words]
print(proper_version)

['Diagram', 'Objective', 'Assignment', 'Questions', 'Solutions']
['Diagram', 'Objective', 'Assignment', 'Questions', 'Solutions']

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [40]:
n = int(input('Enter a natural number:'))
dictionary = {i:i*i for i in range(1,n+1)}
print(dictionary)

Enter a natural number:5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Given a dictionary with item and price, print the final price including 18% GST to it.

In [7]:
sales = {"Laptop":2500, "Printer":5000, "Mouse":200, "Monitor": 1000}
cost = sum(sales.values())+ (18*sum(sales.values()))/100
print(cost)

10266.0

In [8]:
sales.values()

dict_values([2500, 5000, 200, 1000])

Print the final cost by applying 18% GST only to the items greater than or equal to 1000

In [11]:
sale1 = 0
sale2 = 0

for i in sales.values():
    if i>=1000:
        sale1 +=i
    else:
        sale2 +=i
cost = sale1+((18*sale1)/100)+sale2
print(cost)

10230.0

Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program: hello world! 123 Then, the output should be: LETTERS 10 DIGITS 3

In [12]:
s = input("Input a string:")
d=l=0
for c in s:
    if c.isdigit():
        d=d+1
    elif c.isalpha():
        l=l+1
    else:
        pass
print("Letters", l)
print("Digits", d)

Input a string:my name is lakhan 12
Letters 14
Digits 2

Given a list, print the list with the square elements to a new list for the elements which are divisible by 2

In [14]:
a = [1,2,3,4,5]
[i**2 for i in a if i%2==0]

[4, 16]

Given two list, create a new list that will have element wise sum from the given lists

In [16]:
x = [1,2,3,4,5]
y = [5,6,4,8,5]

print(list(map(lambda a,b:a+b,x,y)))

[6, 8, 7, 12, 10]

Get all elements from a list that are greater than 5

In [17]:
# To get all elements greater than 5
list1 = [1,2,3,4,5,6,7,8,9]
list(filter(lambda x:x>5,list1))

[6, 7, 8, 9]

Get the sum of all the numbers in the list without using sum function

In [18]:
from functools import reduce
reduce(lambda x, y: x + y, [0, 1, 2, 3, 4, 5])

15